.plans {
    margin-left: 2.5em;
    margin-right: 2.5em;
}

.info{
    margin-left: 40px;
}
.rehabbtn {
    margin-left: 1em;
    margin-right: 20px;
    margin-bottom: 1em;
    float: right;
}
.level3{
    margin-left: 80px;
}
