<br><br>

<h2>Rehab Plans</h2>

<div class ="plans">
    <ngb-accordion #acc = "ngbAccordion" [closeOthers] = "true">
        <ngb-panel *ngFor="let rehabPlan of rehabPlans;">
            <ng-template ngbPanelTitle>
                <span (click) = "getExercises(rehabPlan._id);">{{rehabPlan.name}}</span>               
            </ng-template>
            <ng-template ngbPanelContent>
                <div *ngFor = "let exercise1 of exercise;">
                    <p>{{exercise1.name}}</p>
                    <p>fdsafdsa</p>
                </div>
        
    
    <!--</ngb-accordion>-->

