<h2>Account Recovery</h2>

<div *ngIf="!inputtedUsername">
<h4>
  Please enter your username to have your password reset.
</h4>
<div class="form-group row">
  <label for="inputUsername" class="col-sm-2 col-form-label">Username: </label>
  <div class="col-sm-7">
    <input type="text" class="form-control" id="inputUsername" placeholder="Username" #username required>
  </div> 
</div>

<button class="btn btn-sm btn-primary" (click)="SendEmail(username.value)">Reset</button>
<button class="btn btn-sm btn-secondary" [routerLink]="['home']">Cancel</button>

</div>

<div *ngIf="inputtedUsername">
  <h3>Success!</h3>
  <p>Hello {{username}}</p>
  <p>We have sent an password reset request to the email that you registered with</p>
  <p>Please follow the steps within the email to reset your password and recover your account</p>
  <p>Thank you for using Self Start</p>
</div>