<div class="center">
<h2>Account Recovery</h2>
<br>
</div>
<div *ngIf="!inputtedUsername">

<mat-card class="assessTest">
  <mat-card-title>
          <h4 class="cardtitle">
            Please enter your username to have your password reset.
          </h4>
  </mat-card-title>
  <hr>
  <br>
  <div class="form-group row usandpass">
    <label for="inputUsername" class="col-sm-2 col-form-label">Username: </label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="inputUsername" placeholder="Username" (keyup.enter)="SendEmail(username.value, successModal)" #username required>
    </div> 
  </div>
  <div *ngIf="badUsername" class="dangeralrt">
    <p class="failureMessage">This username does not exist, please enter a valid username. </p>
  </div>
  <div *ngIf="alreadySent" class="dangeralrt">
      <p class="failureMessage">A password reset request has already been sent for this account. Please check your email 
        for instructions to reset the account. If you did not receive an email, please contact the system administrator. 
      </p>
  </div>
  <br>
  <hr>
  <mat-card-actions align="end">
    <button class="btn btn-sm btn-primary" (click)="SendEmail(username.value, successModal)">Reset</button>
    <button class="btn btn-sm btn-secondary mover" [routerLink]="['../../home']">Cancel</button>
  </mat-card-actions>
</mat-card>
</div>

<ng-template #successModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h3>Success!</h3>
    </div>
    <div class="modal-body">
        Hello {{username}}, a password reset request has been sent to the system admin. Once your request has been confirmed, you will
        recieve an email that outlines the steps to recover your account.
    </div>
    <div class="modal-footer">
      <button type="button" [routerLink]="['../../welcome']" class="btn btn-primary btn-med" (click)="c('Close click')">OK</button>          
    </div>
</ng-template>
<!-- <div *ngIf="inputtedUsername" class="succmessage">
  <mat-card>
    <mat-card-title>
      <h3>Success!</h3>
    </mat-card-title>
    <p>Hello {{username}}</p>
    <p>A Password Request has been sent to the Self Start admin</p>
    <p>Once your password request has been approved, you will receive an email with a temporary password</p>
    <p>Please follow the steps within the email to recover your account</p>
    <p>Thank you for using Self Start</p>
    <mat-card-actions>
      <button class="btn btn-sm btn-primary" [routerLink]="['login']">Return To Login</button>
    </mat-card-actions>
  </mat-card>
</div> -->