<h2>Account Recovery</h2>

<h4>Hello {{username}}, please enter your next password</h4>
<p>The provided passwords must match</p>

<div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Password: </label>
    <div class="col-sm-7">
      <input type="text" class="form-control" id="inputPassword" placeholder="Password" #password>
    </div> 
</div>

<div class="form-group row">
      <label for="inputRepeatPassword" class="col-sm-2 col-form-label">Repeat Password: </label>
      <div class="col-sm-7">
        <input type="text" class="form-control" id="inputRepeatPassword" placeholder="Repeat Password" #repeatPassword>
      </div> 
</div>