.title {
    color: #0275d8;
    margin-bottom: 1em;
}

#believe {
    padding-top: 1em;
}

#benefit {
    border-left: solid rgba(0, 0, 0, 0.1) 1px;
    border-right: solid rgba(0, 0, 0, 0.1) 1px;
}

#simple {
    background-color: rgba(0, 0, 0, 0.1);
}

.disclaimer {
    text-decoration: underline;
    text-align: center;
    font-family: Arial;
    font-weight: 400;
    letter-spacing: 0px;
    padding: 1em;
}

.pic-content {
    border-left: solid rgba(0, 0, 0, 0.1) 1px;
}

.mid-page {
    text-align: center;
}

.card {
    margin-bottom: 2em;
}

.display-12 {
    margin-bottom: 1em;
}

p li {
    font-family:Arial;
    font-weight: 400;
    letter-spacing: 0px;
}

