<div class='jumbotron' style="background-color: rgb(244, 254, 255);">
  <div class="container">
    <div class="row">
        <div class="col">
            <img src="./assets/images/stephanie.jpg" width="250" height="400" alt="" title="Stephanie Marcotte" class="img-responsive wp-image-12008 hoverZoomLink" srcset="./assets/images/stephanie.jpg 200w, ./assets/images/stephanie.jpg 400w, ./assets/images/stephanie.jpg 600w, ./assets/images/stephanie.jpg 800w, ./assets/images/stephanie.jpg 1200w" sizes="(max-width: 800px) 100vw, 1100px">
        </div>
        <div class="col-9 pic-content">
            <h1 class='display-4 title'>Who Am I?</h1>
            <hr class='my-4'>
            <p>
                Stephanie Marcotte is a registered physiotherapist. She is a graduate of the University of Toronto
                Physical Medicine program. Stephanie has more than 25 years of clinical experience in musculoskeletal
                health.<br><br>
                
                Stephanie has completed numerous continuing education courses in advance manual therapy, movement and
                exercise therapies. She has an integrative approach to assessment and treatment. She believes in helping
                people help themselves.<br><br>
                
                Stephanie has designed her practice so that she assesses and treats clients individually. Her clients
                are not delegated to support staff. Her approach is very dynamic and she has been a source of
                inspiration for many clients over the years.
        </div>
    </div>
  </div>
</div>

<div class='container' >
  <h1 class='display-6 title'>What I Believe</h1>  
  <ul class='list-group'>
    <li class='list-group-item list-group-item-action'>I believe movement is life.</li>
    <li class='list-group-item list-group-item-action'>I believe you can heal your body with functional movement patterns.</li>
    <li class='list-group-item list-group-item-action'>I believe it is never to late to create change in a body it can happen fast.</li>
    <li class='list-group-item list-group-item-action'>I believe it is never to late to create change in a body it can happen fast.</li>
    <li class='list-group-item list-group-item-action'>I believe your body knows what it needs.</li>
    <li class='list-group-item list-group-item-action'>I believe every system in your body relies on a functional musculoskeletalsystem.</li>
    <li class='list-group-item list-group-item-action'>I believe you need to trust yourself.</li>
    <li class='list-group-item list-group-item-action'>I believe you need to take responsibility for your present state of health.</li>
    <li class='list-group-item list-group-item-action'>I believe you can become free of your pain.</li>
  </ul>
  <div class='container col-9'>
    <div class='card'>
      <h3 class='card-header title'>All systems in the body work on movement:</h3>
      <div class='card-body'>
        <ul class='list-group'>
          <li class='list-group-item'>The heart beats</li>
          <li class='list-group-item'>The lungs breath</li>
          <li class='list-group-item'>The stomach grinds</li>
          <li class='list-group-item'>The colon transports</li>
          <li class='list-group-item'>The blood flows</li>
          <li class='list-group-item'>The nerves conduct</li>
          <li class='list-group-item'>The muscles contract</li>
          <li class='list-group-item active'>
            Disease in the body begins when movement is impaired. Restore your proper design for movement and your
            pain will cease. No fancy machinery or magic pills required; your body already has everything it needs
            to heal.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>





