<div class='container'>
    <h1 class='display-4 title'>Contact Information</h1>
</div>
<div class='container col-10'>
        <div class='row justify-content-center'>
          <div class='col align-self-center'>
            <div class='contact-info'>
              <img src='./assets/images/map.jpg' id='map'>
              <p>
                Phone:                   519-733-8100<br><br>
                Email:                   stephanie@marcottephysio.com<br><br>
                Appointment Hours:<br>       
                
                            <span class='indent'>Weekdays     9:00am - 5:00pm</span><br>
                            <span class='indent'>Weekends     closed</span><br><br>
                
                Address:<br>
                            
                <span class='indent'>Marcotte Physiotherapy Clinic</span><br>
                <span class='indent'>313 Main St. East, Suite 19</span><br>
                <span class='indent'>Kingsville, ON N9Y 1A7</span>
              </p>
            </div>
          </div>
          <div class='col align-self-start'>
          <!-- Card -->
          <div class="card mx-xl-5">
              <div class='card-header'>
                <h3 class='display-8 title' id='ask'>Ask A Physio</h3>
              </div>
              <!-- Card body -->
              <div class="card-body">
                  <!-- Default form subscription -->
                  <form class="example-form">
                    <div class='row justify-items-center'>
                      <div class='col'>
                        <mat-form-field>
                          <input matInput placeholder="First Name">
                        </mat-form-field>
                      </div>
                      
                      <div class='col'>                         
                        <mat-form-field>
                          <input matInput placeholder="Last Name">
                        </mat-form-field>
                      </div>
                      
                    </div>
                    
                    <mat-form-field class='full-width'>
                      <input matInput placeholder="Email">
                    </mat-form-field><br>
                    
                    <mat-form-field class='full-width'>
                      <textarea matInput placeholder="Your Question"></textarea>
                    </mat-form-field>
                    
                    <div class="text-center py-4 mt-3">
                      <button class="btn btn-outline-blue" type="submit">Send<i class="fa fa-paper-plane-o ml-2"></i></button>
                    </div>
                  </form>
                  <!-- Default form subscription -->
              </div>
              <!-- Card body -->
          </div>
          <!-- Card -->
          </div>
          </div>
    </div>