<div class='container'>
    <h1 class='display-4 title'>Contact</h1>
</div>
<div class='container col-8'>
    <div class='card'>
      <h3 class='card-header title'>Contact Info</h3>
      <hr class='my-4'>
      <div class='card-body'>
        <div class='row justify-content-center'>
          <div class='col align-self-center'>
            Phone: 519-733-8100<br><br>
            Email: stephanie@marcottephysio.com
          </div>
          <div class='col align-items-center'>
            <button type="button" class="btn btn-primary">Ask Physio</button>
          </div>
        </div>
      </div>
    </div>
</div>