<h1>
  Hello Sam!
</h1>
<br> <br>
<h3>
  Please Fill out the following assessment test
</h3>
<br>
<br>

<h4>
  This will be used to judge your progression through the treatment
</h4>
<br><br>
<div *ngIf="assessmentTest">
  <p><b>Assessment Test Name: </b> <span>{{assessmentTest.name}}</span></p>
  <p><b>Assessment Test Description: </b> <span>{{assessmentTest.description}} </span></p>
  <div *ngFor="let q of assessmentTestQuestions; let i = index">
    <div *ngIf="q.questionCode == 'SA'">
      <h4>Short Answer Question: </h4>
      <p><b>{{i + 1}}) {{q.questionText}}</b></p>
      <label>Response:</label>
      <textarea class="form-control myta" rows="5" id="question{{i}}" value="{{q.answer}}" #emailBody> </textarea>
    </div>
    <div *ngIf="q.questionCode == 'MC'">
      <h4>Multiple Choice Question: </h4>
      <p><b>{{i + 1}}) {{q.questionText}}</b></p>
      <mat-radio-group id="question{{i}}">
          <mat-radio-button  *ngFor="let qcontent of q.questionContent; let j = index" value="{{qcontent}}" id="question{{i}}{{j}}" (click)="RadioButtonClicked(qcontent, i)">{{qcontent}}</mat-radio-button>
      </mat-radio-group>
    </div>
    <div *ngIf="q.questionCode == 'RA'">
      <h4>Rating Question: </h4>
      <p><b>{{i + 1}}) {{q.questionText}}</b></p>     
      <ngb-rating [(rate)]="currentRate" id="question{{i}}">
          <ng-template let-fill="fill" let-index="index">
            <span class="star" [class.filled]="fill === 100" (click)="SendBack(index, i)">&#9733;</span>
          </ng-template>
      </ngb-rating> 
    </div>
  </div>
  <button class="btn btn-sm btn-primary" (click)="SubmitAnswers()">Submit</button>
</div>