<h2>Manage Forms</h2>

<button class="btn "

<div class="container mt-3">
  <ngb-accordion #acc="ngbAccordion" [closeOthers]="true">
    <!-- This is the block of code that will be repeated for every form -->
    <ngb-panel *ngFor='let form of forms'>
      <ng-template ngbPanelTitle>
        <span> {{ form.name }} ||</span>
        <fa class="float-right fa-2x" name="angle-down"></fa>
      </ng-template>
      
      <ng-template ngbPanelContent>
        <h6>Form ID: {{ form.ID }}</h6>
        <form>
          <div class="container">
            <button class="btn btn-danger float-right ml-3">DELETE</button>
            <button class="btn btn-primary float-right">EDIT</button>
            <div class="row">
              <div class="col-lg-8 col-md-10">
                <div class="my-3">
                  <label for="exampleInputPassword1">Question Goes here</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
              </div>
            </div>
          </div>
        </form>
      </ng-template>
    </ngb-panel>
    <!-- End of form block -->
    
    
  </ngb-accordion>
</div>
