<h2>Manage Forms</h2>

<button class="btn btn-primary createbtn" (click)="open(create)">New Form</button>


<div class="dynforms">
  <ngb-accordion #acc="ngbAccordion" [closeOthers]="true">
    <!-- This is the block of code that will be repeated for every form -->
    <ngb-panel *ngFor='let form of forms'>
      <ng-template ngbPanelTitle>
        <span (click)="getFormQuestions(form._id)">{{ form.name }}</span>
      </ng-template>
      <ng-template let-c="close" let-d="dismiss" #yousure>
          <div class="modal-header">
            <h4 class="modal-title">Are you sure?</h4>
          </div>
          <div class="modal-body">
              <p>Are you sure you wish to delete client <b>{{form.name}}</b>. This action is cannot
                be undone. 
              </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-sm align-left" (click)="deleteForm(form._id); c('Close click')">Yes</button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="c('Close click')">No</button>              
          </div>
        </ng-template>
      
      <ng-template ngbPanelContent>
        <form>
          <div class="container">
            <button class="btn btn-primary" (click)="open(yousure); onForm=true;">Delete Form</button>
            <button *ngIf="!editMode" class="btn btn-primary align-bottom" (click)="switchMode()">Edit Form</button>
            <button *ngIf="editMode" class="btn btn-primary align-bottom" (click)="open(edityousure); switchMode();">Save</button>
            <button *ngIf="editMode" class="btn btn-secondary align-bottom" (click)="switchMode();">Cancel</button>
            <div *ngFor='let question of questions;  let i = index;' class="form-group row">
              <!-- Are you sure modal -->
          
              <div class="col-lg-8">
                <div *ngIf="editMode" class="mt-5">
                  
                  <label  [attr.for]="'ques-' + i">{{ question.questionText }}</label>
                  <input  [attr.id]="'ques-' + i" type="text" class="form-control" placeholder="{{ question.questionText }}" #qtext>
                </div>
                <div *ngIf="!editMode" class="mt-5">
                  <h5>{{ question.questionText }}</h5>
                </div>
              </div>
              <div class="col-lg-2">
                <div class="mt-5 mb-0">
                  <button *ngIf="editMode" class="btn btn-danger align-bottom" (click)="open(otheryousure);"><fa class="fas float-right" name="times"></fa></button>
                </div>
              </div>
              
              <!-- second are you sure modal -->
              <ng-template let-c="close" let-d="dismiss" #otheryousure>
                <div class="modal-header">
                  <h4 class="modal-title">Are you sure?</h4>
                </div>
                <div class="modal-body">
                    <p> <b>This action cannot be undone!</b> </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary btn-sm align-left" (click)="deleteQuestion(question._id, form._id); c('Close click')">Confirm</button>
                  <button type="button" class="btn btn-secondary btn-sm" (click)="c('Close click')">Cancel</button>              
                </div>
              </ng-template>
              
              <!-- are you sure for the edit function -->
              <ng-template let-c="close" let-d="dismiss" #edityousure>
                <div class="modal-header">
                  <h4 class="modal-title">Are you sure?</h4>
                  
                </div>
                <div class="modal-body">
                    <p> <b>Are you sure you would like to save?</b> </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger btn-sm align-left" (click)="updateQuestion(question._id, qtext.value, question.helpDescription, question.order, question.form, question.questionType);">Confirm</button>
                  <button type="button" class="btn btn-success btn-sm" (click)="c('Close click')">Cancel</button>              
                </div>
              </ng-template>
            </div>
          </div>
        </form>
        <button class="btn btn-success" (click)="open(quest, form._id)">New Question</button>
      <!--</ng-template>-->
          
          
        </ng-template>
    </ngb-panel>
    <!-- End of form block -->
    
    <!-- New form modal -->
      <ng-template let-c="close" let-d="dismiss" #create>
        <div class="modal-header">
          <h4 class="modal-title">Create a new form</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form>
              <div class="form-group row">
                <label for="inputFormName" class="col-sm-3 col-form-label">Form Name</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="inputFormName" placeholder="Name" #newFormName>
                </div>
                
              </div>
              <div class="form-group row">
                <label for="inputFormDescrip" class="col-sm-3 col-form-label">Description</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="inputFormDescrip" placeholder="Description" #newFormDescrip>
                </div>
              </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm align-left" (click)="createNewForm(newFormName.value, newFormDescrip.value); c('Close click')">Create</button>
          <button type="button" class="btn btn-secondary btn-sm" (click)="c('Close click')">Cancel</button>              
        </div>
      </ng-template>
      
      <!-- New Question modal -->
      <ng-template let-c="close" let-d="dismiss" #quest>
        <div class="modal-header">
          <h4 class="modal-title">Create a new Question</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form>
              <div class="form-group row">
                <label for="inputQuestionText" class="col-4 col-form-label">Question Text</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="inputFormName" placeholder="what would you like to ask?" #newQuestionName>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputQuestionDescrip" class="col-4 col-form-label">Help Description</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="inputQuestionDescrip" placeholder="Enter Help Description..." #newQuestionDescrip>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputOrder" class="col-4 col-form-label">Order</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="inputQuestionOrder" placeholder="Order" #newQuestionOrder>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-4 col-form-label" for="inlineFormCustomSelect">Type</label>
                <select [(ngModel)]="selectedType" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect" [ngModelOptions]="{standalone: true}" #newQuestionType>
                  <option>Choose...</option>
                  <option *ngFor="let type of types" [ngValue]="type.name" #chosenType>{{ type.name }}</option>
                </select>
              </div>
             
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" (click)="createQuestion(newQuestionName.value, newQuestionDescrip.value, newQuestionOrder.value, type); c('Close click')">Confirm</button>
          <button type="button" class="btn btn-danger" (click)="c('Close click')">Cancel</button>         
        </div>
      </ng-template>
      
  </ngb-accordion>
</div>
