<h2>Patients</h2>
<div class="input-group mb-3 searchbar" id="custom-search-input">
  <input type="text" class="form-control" (keyup.enter)="searchPatients(searchValue.value)" placeholder="Search for patients here..." aria-label="Search for patient here..." aria-describedby="basic-addon2" #searchValue>
  <span class="input-group-btn">
    <button class="btn btn-info btn-lg" type="button" (click)="searchPatients(searchValue.value)"  location="top" ngbTooltip="Search">
      <fa name="search"></fa>
    </button>
</span>
</div>

<div class="patients">
  <ngb-accordion #acc="ngbAccordion" [closeOthers]="true">
      <ngb-panel *ngFor="let patient of patients;">
        <ng-template ngbPanelTitle>
          <span>{{patient.familyName}}, {{patient.givenName}}  ||  {{patient.email}}</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="info">
          <p><b>Name:  </b> {{patient.familyName}}, {{patient.givenName}}</p>
          <p><b>Patient ID:  </b> {{patient.ID}}</p>
          <p><b>Email:  </b> {{patient.email}}</p>
          <p><b>Date of Birth:  </b> {{patient.DOB  | date: "fullDate"}}</p>
          <p><b>Postal Code:  </b> {{patient.postalCode}}</p>
          <p><b>Phone Number:  </b> {{patient.phone}}</p>
          <p><b>Marital Status:  </b> {{patient.maritalStatus}}</p>
          <p><b>Health Card Number:  </b> {{patient.healthCardNumber}}</p>
          <p><b>Occupation:  </b> {{patient.occupation}}</p>
          <p><b>Country:  </b> {{patient.country.name}} </p>
          <p><b>Province:  </b> {{patient.province.name}} </p>
          <p><b>City:  </b> {{patient.city.name}} </p>      
          </div>

          <!-- The first modal which will be brought up when the physiotherapist wants to update the patient-->
          <ng-template #update let-c="close" let-d="dismiss">
              <div class="modal-header">
                <h4 class="modal-title">Update {{patient.familyName}}, {{patient.givenName}}</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <form>
                    <div class="form-group row">
                      <label for="inputFirstName" class="col-sm-3 col-form-label">First Name</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputFirstName" placeholder="First Name" value="{{patient.givenName}}" #newFirstName>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputLastName" class="col-sm-3 col-form-label">Last Name</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputLastName" placeholder="Last Name" value="{{patient.familyName}}" #newLastName>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputPatientID" class="col-sm-3 col-form-label">Patient ID</label>
                      <div class="col-sm-9">
                        <input type="text" readonly class="form-control" id="inputPatientID" placeholder="Patient ID" value="{{patient.ID}}" placement="left" ngbTooltip="The patient's ID cannot be modified">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputEmail" class="col-sm-3 col-form-label">Email</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputEmail" placeholder="Email" value="{{patient.email}}" #newEmail>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputDOB" class="col-sm-3 col-form-label">DOB</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputDOB" placeholder="DOB" value="{{patient.DOB  | date: 'yyyy-MM-dd'}}" #newBirthDate >
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputPostalCode" class="col-sm-3 col-form-label">Postal Code</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputPostalCode" placeholder="Postal Code" value="{{patient.postalCode}}" #newPostalCode>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputPhoneNumber" class="col-sm-3 col-form-label">Phone Number</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputPhoneNumber" placeholder="Phone Number" value="{{patient.phone}}" #newPhoneNumber>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputMaritalStatus" class="col-sm-3 col-form-label">Marital Status</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputMaritalStatus" placeholder="Marital Status" value="{{patient.maritalStatus}}" #newMaritalStatus>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputHealthCard" class="col-sm-3 col-form-label">Health Card Number</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputHealthCard" placeholder="Health Card Number" value="{{patient.healthCardNumber}}" #newHealthCardNumber>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputOccupation" class="col-sm-3 col-form-label">Occupation</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputOccupation" placeholder="Occupation" value="{{patient.occupation}}" #newOccupation>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputOthers" class="col-sm-3 col-form-label">Others</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputOthers" placeholder="Others" value="{{patient.others}}" #newOthers>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputOthers" class="col-sm-3 col-form-label">Country</label>
                      <div class="col-sm-9">
                        <select>
                          <option value="{{patient.country._id}}">{{patient.country.name}}</option>
                          <option *ngFor="let country of countries" value="{{country._id}}">{{country.name}}</option>
                        </select>
                      </div>
                    </div>
                  </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" (click)="updatePatient(patient._id, newFirstName.value, newLastName.value, patient.ID, newEmail.value, newBirthDate.value, newPostalCode.value, newPhoneNumber.value, newMaritalStatus.value, newHealthCardNumber.value, newOccupation.value, newOthers.value); c('Close click')">Confirm</button>
                <button type="button" class="btn btn-secondary btn-sm" (click)="c('Close click')">Cancel</button>                
              </div>
            </ng-template>
            
            <button class="btn btn-primary btn-sm patientbtn" (click)="open(update)">Update</button>
            <!-- End of First Modal -->

            <!-- The Second Modal which will be brought up when the physiotherapist wants to delete the patient-->
            <ng-template #delete let-c="close" let-d="dismiss">
                <div class="modal-header">
                  <h4 class="modal-title">Delete {{patient.familyName}}, {{patient.givenName}}</h4>
                  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Are you sure you wish to delete patient <b>{{patient.familyName}}, {{patient.givenName}}</b>. This action is cannot be undone. </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary btn-med" (click)="deletePatient(patient._id); c('Close click')">Delete</button>
                  <button type="button" class="btn btn-secondary btn-med" (click)="c('Close click')">Do No Delete</button>                  
                </div>
              </ng-template>
              
              <button class="btn btn-primary btn-sm patientbtn" (click)="open(delete)">Delete</button>
              <!-- End of Second Modal -->
        </ng-template>
      </ngb-panel>
  </ngb-accordion>
</div>
<br>
<br>
<br>