<div class="center">
  <h1>Welcome! Please log in here</h1>
</div>
<br>
<br>
<mat-card class="assessTest">
  <div class="row justify-content-center">
    <div class="form-group row usandpass">
      <div class="col">
        <input type="text" class="form-control" id="inputUsername" placeholder="Username" #username>
      </div> 
    </div>
    <div class="form-group row usandpass">
      <div class="col">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password" (keyup.enter)="Login(username.value, password.value)" #password>
      </div>
    </div>
    <div class="form-group row usandpass">
      <div class="col">
        <button class="btn btn-block btn-default" (click)="Login(username.value, password.value)">Login</button> 
      </div> 
    </div>
    <div *ngIf="showFailure" class="dangeralrt">
        <p class="failureMessage">The username or password you entered is incorrect</p>
    </div>
    <div *ngIf="userIsDisabled" class="dangeralrt">
        <p class="failureMessage">Your account has been disabled. Please contact the system adminstrator to re-enable your account</p>      
    </div>
  </div>
  <hr>
  <div>
      <p class="cont"><a [routerLink]="['../signup']">Sign Up</a></p>
      <p class="cont">||</p>
      <p class="cont"><a [routerLink]="['forgotten']" >Forgot Password</a></p>
  </div>

</mat-card>


