<div class="center">
  <h1>Welcome! Please log in here</h1>

  <h4>Enter your credentials to log in</h4>
</div>
<br>
<br>
<mat-card class="assessTest">
  <div class="form-group row">
    <label for="inputUsername" class="col-sm-2 col-form-label">Username: </label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="inputUsername" placeholder="Username" #username>
    </div> 
  </div>
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Password: </label>
    <div class="col-sm-9">
      <input type="password" class="form-control" id="inputPassword" placeholder="Password" #password>
    </div> 
  </div>
  <br> 
  <hr>
  <mat-card-actions>
      <p class="cont"><a [routerLink]="['../signup']">Sign Up</a></p>
      <p class="cont">||</p>
      <p class="cont"><a [routerLink]="['forgotten']" >Forgot Password</a></p>
      <span flex></span>
      <div class="btns">
      <button class="btn btn-sm btn-primary rightside" (click)="Login(username.value, password.value)">Login</button>
      <button class="btn btn-sm btn-secondary rightside">Cancel</button>
      </div>
  </mat-card-actions>


</mat-card>
