<br>
<div id="title" class="alert alert-info">
  <h4>Welcome</h4>
</div>

<!--<div id=section>
  <h4>Your Appointments</h4>
  <hr>
  <div *ngFor = "let appt of appointments">
    <br>
    <button class="accordion"  (click)="show(appt)"><b>{{appt.date | date:'medium'}}</b></button>
    <div *ngIf = "appt == activated">
      <div class="info">
        <hr>
        <p><b>Name:  </b>{{appt.patient}}</p>
        <p><b>Reason:  </b>{{appt.reason}}</p>
        <p><b>Other:  </b>{{appt.other}}</p>
        <hr>
      </div>
    </div>
  </div>
  <br>
</div>-->

<br>
<h5>Your Appointments for Today:</h5>
 <!--| date:'longDate'-->
<br>
<div id="list" *ngFor = "let appt of appointments">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{appt.patient}}
        </mat-panel-title>
        <mat-panel-description>
          {{appt.date | date:'shortTime'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p><b>Reason:  </b>{{appt.reason}}</p>
      <p><b>Other:  </b>{{appt.other}}</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<br>
<button class="button" style="vertical-align:middle" (click)="goToCalendar()"><span>Calendar</span></button>
<div id="mySidenav" class="sidenav">
  <a id=exercise (click)="goToExercises()">Manage Exercises</a>
  <a id=patient (click)="goToPatients()">Manage Client Profiles</a>
  <a id=rehabplan (click)="goToRehabPlans()">Manage Rehabilitation Plans</a>
  <a id=test (click)="goToTests()">Manage Assessment Tests</a>
  <a id=report (click)="goToReports()">Generate Client Reports</a>
</div>