<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened="true" style="background-color: #0275d8;">
                <mat-nav-list style="top: -10px;">
                  <mat-list-item [routerLinkActive]="['active']">
                    <button class="btn-primary btn-block" mat-raised-button style="color:white;" >Dashboard</button>
                  </mat-list-item>
                  <br>
                  <mat-divider class="dividers"></mat-divider>
                  <mat-list-item [routerLinkActive]="['active']">
                    <button class="btn-primary btn-block" mat-raised-button style="color:white;" [routerLink]="['../calendar']">Calendar</button>
                  </mat-list-item>
                  <br>
                  <mat-divider class="dividers"></mat-divider>
                  <mat-list-item [routerLinkActive]="['active']" >
                    <button class="btn-primary btn-block" mat-raised-button style="color:white;" [routerLink]="['../clients']">Client Profiles</button></mat-list-item>
                  <br>
                  <mat-divider class="dividers"></mat-divider>
                  <mat-list-item [routerLinkActive]="['active']" >
                    <button class="btn-primary btn-block" mat-raised-button style="color:white;" [routerLink]="['../exercises']">Exercises</button></mat-list-item>
                  <br>
                  <mat-divider class="dividers"></mat-divider>
                  <mat-list-item [routerLinkActive]="['active']" >
                    <button class="btn-primary btn-block" mat-raised-button style="color:white;" [routerLink]="['../rehabplans']">Rehabilitation Plans</button></mat-list-item>
                  <br>
                  <mat-divider class="dividers"></mat-divider>
                  <mat-list-item [routerLinkActive]="['active']" >
                    <button class="btn-primary btn-block" mat-raised-button style="color:white;" [routerLink]="['../assessmenttests']">Assessment Tests</button></mat-list-item>
                  <br>
                  <mat-divider class="dividers"></mat-divider>
                  <mat-list-item [routerLinkActive]="['active']" >
                      <button class="btn-primary btn-block" mat-raised-button style="color:white;" [routerLink]="['../settings']">Settings</button></mat-list-item>
                    <br>
                    <mat-divider class="dividers"></mat-divider>
                </mat-nav-list>
            </mat-sidenav>
   <mat-sidenav-content>
        <div style="background-color: #F5F5F5;" class="jumbotron container-fluid">
          <br>
          <div style="margin-top: -10px;">
              <h3 *ngIf="physio" class="title" style="color: #0275d8">
                  Good {{ timeOfDay }}<a *ngIf="physio">, {{ physio?.givenName }}.</a>
               </h3>
               <p class="quote">
                 Welcome to your dashboard, what would you like to do today?
               </p>
          </div>
        </div>
        <br>
        <div style="min-height: 100vh;" class="page col-11">
          <mat-card style="min-height: 75vh;">
            <mat-card-content>
                <div class="row">
                  <mat-card class="col-6">
                    <div>
                        <div class="appointments">
                            <h4 style="color: #0275d8;"><b>Upcoming Appointments</b></h4>
                            <hr>
                            <div class="appoints">
                                <div *ngIf="appointments?.length < 1">
                                  <p><b>No Appointments Currently Scheduled</b></p>
                                </div>
                                <!-- <mat-list *ngIf="appointments?.length > 0">
                                    <mat-list-item class="listItems" *ngFor="let appointment of appointments">
                                        <button class="btn-block button">
                                          <div class="row">
                                            <div class="col-1">
                                                <i class="fas fa-calendar-alt" style="color: #0275d8;"></i>
                                            </div>
                                            <div class="col-7">
                                                <h5> <b>{{ appointment?.date | date:'mediumDate' }}</b> </h5>
                                            </div>
                                          </div>
                                          <div class="divider">
                                            <mat-divider></mat-divider>
                                          </div>
                                        </button>
                                      </mat-list-item>
                                </mat-list> -->
                                <div id="list" *ngFor = "let appt of appointments">
                                    <mat-accordion>
                                      <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                          <mat-panel-title>
                                            {{appt.userID}}
                                          </mat-panel-title>
                                          <mat-panel-description>
                                            {{appt.date | date:'shortTime'}}
                                          </mat-panel-description>
                                        </mat-expansion-panel-header>
                                        <p style="font-size: 16px;text-align:left;"><b style="color: #0275d8;">Reason:  </b>{{appt.reason}}</p>
                                        <p style="font-size: 16px;text-align:left;"><b style="color: #0275d8;">Type:  </b>{{appt.type}}</p>
                                      </mat-expansion-panel>
                                    </mat-accordion>
                                </div>
                            </div>
                          </div>
                    </div>
                    <br>
                  </mat-card>
                      <mat-card class="col-6">
                        <div>
                          <mat-card-title style="color: #0275d8;">
                            <div class="row">
                              <div class="col-10">
                                  Details & Summary
                              </div>
                            </div>
                          </mat-card-title>
                          <mat-list>
                          <mat-list-item>
                              <div class="btn-block">
                                <div class="row">
                                    <div class="col">
                                      <mat-card-subtitle>
                                          <h6><b> Number of Clients: </b></h6>
                                      </mat-card-subtitle>
                                      </div>
                                      <div class="col">
                                        <h4><b></b></h4>
                                      </div>
                                    </div>
                                    <div class="divider">
                                      <mat-divider></mat-divider>
                                    </div>
                                </div>
                          </mat-list-item>
                          </mat-list>
                        </div>
                        <br>
                      </mat-card>    
                </div>
            </mat-card-content>
            <br><br>
          </mat-card>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>    

<!--<br>
<button class="button" style="vertical-align:middle" (click)="goToCalendar()"><span>Calendar</span></button>
<div id="mySidenav" class="sidenav">
  <a id=exercise (click)="goToExercises()">Manage Exercises</a>
  <a id=patient (click)="goToPatients()">Manage Client Profiles</a>
  <a id=rehabplan (click)="goToRehabPlans()">Manage Rehabilitation Plans</a>
  <a id=test (click)="goToTests()">Manage Assessment Tests</a>
  <a id=report (click)="goToReports()">Generate Client Reports</a>
</div>-->

