<!--<p>-->
<!--  assessment-test works!-->
<!--</p>-->
<br><br>
<div style="margin-left: 2em;">
    
    <button *ngIf="showCreat" type="button" class="btn btn-primary createbtn" (click)="enable()" style="margin-left: 2em;">Create New Assessment Test</button>
    <div *ngIf="!showCreat" style="margin-left:2em; width:50%">
        <p><b>Enter the name of the test: </b></p>

        <input type="text" class="form-control" id="name" placeholder="Enter Name...." style="margin-left: 2em; width: 50%; height: 100%" #newSAQuestion>
        <br>
        <!--<button type="button" class="btn btn-primary createbtn" (click)="enableAddQuestion();" style = "margin-left: 2em; float: right;">Save Question</button>-->

        <hr>
    </div>
    <div *ngIf="!showCreat" style="margin-left:2em; width:50%">
        <p><b>Enter the description of the test: </b></p>

        <input type="text" class="form-control" id="description" placeholder="Enter description...." style="margin-left: 2em; width: 50%; height: 100%" #newSAQuestion>
        <br>
        <!--<button type="button" class="btn btn-primary createbtn" (click)="enableAddQuestion();" style = "margin-left: 2em; float: right;">Save Question</button>-->

        <hr>
    </div>
    <ol>
        <li *ngFor="let question of questions" style="margin-left: 2em; float: left; width: 50%;">

            <label><b>{{question.questionText}}</b></label>
            <ol>
                <li type="a" *ngFor="let options of question.questionContent" style="margin-left: 2em">
                    <p>{{options}}</p>
                </li>
            </ol>
            <hr>
        </li>
        
    </ol>
     
    <br>
    
    
    <div *ngIf="showDrop" ngbDropdown style="margin-left:2em; width:50%;">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle style="margin-left: 2em; float: left">{{type}}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item" (click)="changeSA();">Short Answer</button>
            <button class="dropdown-item" (click)="changeMC();">Multiple Choice</button>
            <button class="dropdown-item" (click)="changeRA();">Rating</button>
        </div>
        <br><br>
        <!--<hr>-->
    </div>
    <br><br><br>

    <div *ngIf="shortAnswer" style="margin-left:2em; width:50%">
        <p><b>Enter Your Short Answer Question</b></p>

        <input type="text" class="form-control" id="inputShortAnswerQuestion" placeholder="Enter The Short Answer Question...." style="margin-left: 2em; width: 50%; height: 100%" #newSAQuestion>
        <br>
        <button type="button" class="btn btn-primary createbtn" (click)="saveSAQuestion();" style="margin-left: 2em; float: right;">Save Question</button>
        <br><br>
        <hr>
    </div>
    <div *ngIf="multipleChoice" style="width: 50%; margin-left: 2em;">
        <p><b>Enter Your Multiple Choice Question</b></p>

        <input type="text" class="form-control" id="inputMCQuestion" placeholder="Enter The Question...." style="margin-left: 2em; width: 50%; height: 100%" #newMAQuestion>

        <br><br>
        <div class="form-group row">
            <label for="inputOption1" class="col-sm-3 col-form-label">a)</label>
            <input type="text" class="form-control" id="inputOption" placeholder="Enter The Option...." style=" width: 50%; height: 100%; " #newOption>
        </div>
        <div class="form-group row">
            <label for="inputOption2" class="col-sm-3 col-form-label">b)</label>
            <input type="text" class="form-control" id="inputOption2" placeholder="Enter The Option...." style=" width: 50%; height: 100%;" #newOption1>
        </div>
        <div *ngFor="let option of options" class="form-group row">
            <label for="inputOption2" class="col-sm-3 col-form-label">{{option}})</label>
            <input type="text" class="form-control" id="{{option}}" placeholder="Enter The Option...." style="width: 50%; height: 100%;" #newOption2>
        </div>
        <br><br>
        <button type="button" class="btn btn-primary createbtn" (click)="saveMCQuestion();" style="margin-left: 2em; float: right;">Save Question</button>

        <button type="button" class="btn btn-primary createbtn" (click)="addOption();" style="margin-left: 2em; float: left;">Add Option</button>
        <br><br>
        <hr>
    </div>
    <div *ngIf="rating" style="margin-left:2em; width: 50%;">
        <p><b>Enter Your Rating Question(rating is out of 5)</b></p>

        <input type="text" class="form-control" id="inputRatingQuestion" placeholder="Enter The  Question...." style="margin-left: 2em; width: 50%; height: 100%" #newRAQuestion>
        <br><br>
        <button type="button" class="btn btn-primary createbtn" (click)="saveRatingQuestion();" style="margin-left: 2em; float: right;">Save Question</button>
        <br><br>
        <hr>
    </div>

    
    <div *ngIf = "!showCreat" style="margin-left:2em; width:50%;" >
        <button type="button" class="btn btn-primary createbtn" (click)="enableAddQuestion();" style="margin-left: 2em; float: left">Add New Question</button>
    </div>
    <div *ngIf = "!showCreat" style="margin-left:2em; width:50%;" >
        <button type="button" class="btn btn-primary createbtn" (click)="createTest();" style="margin-left: 2em; background-color: green;">Save Plan</button>
    </div>
    <br><br><br><br>
</div>
