#container {
    width: 40%;
    margin: 0 auto;
    position: relative;
}

#buttons{
    margin-left: 25px;
    position: relative;
    left: 0;
    top: 50%;
    width: 100%;
}

#scrollable{
    overflow-y: visible;
    overflow-x: hidden;
}

