<div style="margin-left: auto; margin-right: auto; text-align: center;" class="col-lg-6 col-md-6 col-sm-6">
    <br><br>
    <h1 style="color: #0275d8;">Select From The Options Below...</h1>
    <mat-divider></mat-divider>
    <br>
    <div>
        <div id="image">
            <img class="col-lg-8 col-md-8 col-sm-8" src="../assets/images/marcotte-schedule.jpg">
        </div>
        <br>
        <mat-divider></mat-divider>
        <br>
        <div class="row" style="margin: 0 auto; text-align: center;">
            <button class="btn btn-lg btn-outline-primary col-lg-4" (click)="open(book)">Appointment</button>
            <button class="btn btn-lg btn-outline-primary col-lg-4" (click)="open(initial)">Initial Consultation</button>
        </div>
    </div>
</div>

<ng-template #book let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title"><b>Book Your Appointment...</b></h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" id="infosheet">
                <div class="form-group row">
                    <label class="col-2 col-form-label"><strong>Client Name</strong></label>
                    <div class="col-10">
                        <input class="form-control" type="text" id="inputName" placeholder="John Doe" #name required>
                        <div *ngIf="invalidName">
                            Please Enter a Valid Name
                        </div>
                    </div>
                </div>
                <div class="form-group row" >
                    <!--<label class="col-2 col-form-label"><strong>Choose a Date</strong></label>-->
                    <!--<div class="col-10"></div>-->
                        <!--<div style="overflow: auto; overflow-x:scroll;"></div>-->
                    <div class="col-sm-12"><app-appointments></app-appointments></div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label"><strong>Description</strong></label>
                    <div class="col-10">
                        <textarea class="form-control" placeholder="Enter a short description outlining your injury/hindrance or whether this is a follow up..." rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"><strong>Upload Images</strong></label>
                    <div class="col-sm-10">
                        <label class="btn btn-block btn-file" id="inputMedia">
                            Click Here to Select File(s) for Upload&hellip;
                            <input class="form-control" ng2FileSelect type="file" [uploader]="uploader" style="display: none;" accept=".jpg, .png"  multiple>
                        </label>
                        <td nowrap>
                            <div class="row">
                                <div class="col-md-offset-5" style="margin: 0 auto;">
                                    <button type="button" class="btn btn-success"
                                    (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                                        <span class="glyphicon glyphicon-upload"></span> Upload all
                                    </button>
                                    <button type="button" class="btn btn-danger"
                                    (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                                        <span class="glyphicon glyphicon-trash"></span> Remove all
                                    </button>
                                </div>
                            </div>
                            <tr *ngFor="let item of uploader.queue">
                              <td><strong>{{ item?.file?.name }}</strong></td>
                            </tr>
                        </td>
                    </div>
                </div>
                <!-- <mat-divider></mat-divider>
                <br>
                <div class="form-group row">
                    <div class="col-sm-5 col-form-label">
                        Please Pay Before Proceeding:
                    </div>
                    <div class="col-sm-5">
                        <app-payment></app-payment>
                    </div>
                </div> -->
        </div>
        <div class="modal-footer">
            <div class="float-left">
                To Proceed, Click the PayPal button..
            </div>
            <div id="paypal-button-container"></div>
            <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Cancel</button>
        </div>
</ng-template>

<ng-template #initial let-c="close" let-b="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">Book Your Initial Consultation...</h4>
            <button type="button" class="close" aria-label="Close" (click)="b('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div id="scrollable">
                <mat-vertical-stepper>
                    <mat-step label="Confidential Client Information Sheet">
                            <div class="form-group row">
                                    <label class="col-2 col-form-label"><strong>Client Name</strong></label>
                                    <div class="col-10">
                                        <input class="form-control" type="text" placeholder="John Doe" >
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group row">
                                        <label class="col-2 col-form-label"><strong>Date</strong></label>
                                        <div class="col-10">
                                            <div class="input-group">
                                              <input id="dp" class="form-control" placeholder="yyyy-mm-dd" name="dp" (navigate)="selectToday()" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                                                <div class="input-group-append">
                                                  <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                                                    <fa name="calendar" style="width: 1.2rem; height: 1rem; cursor: pointer;"></fa>
                                                  </button>
                                                </div>
                                            </div>
                                          </div>
                                    </div>
                                    <hr>
                                <div class="form-group row">
                                    <label class="col-2 col-form-label"><strong>Select a Time</strong></label>
                                    <div class="col-10">
                                        <button class="form-control btn btn-lg btn-outline-secondary" value="Open Up Timetable" >Please Select From Available Times</button>
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group row">
                                    <label class="col-2 col-form-label"><strong>Description</strong></label>
                                    <div class="col-10">
                                        <textarea class="form-control" placeholder="Enter a short description outlining your injury/hindrance" rows="3"></textarea>
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group row">
                                        <label class="col-2 col-form-label"><strong>Address</strong></label>
                                        <div class="col-10">
                                            <div class="form-inline">
                                            <input class="form-control col-4" type="text" placeholder="123 Main St SW" >
                                            <input class="form-control col-3 ml-sm-2" type="text" placeholder="City" >
                                            <input class="form-control col-4 ml-sm-2" type="text" placeholder="Postal Code" >
                                            </div>
                                        </div>
                                </div>
                                <hr>
                                <div class="form-group row">
                                        <label class="col-2 col-form-label"><strong>Date of Birth</strong></label>
                                        <div class="col-10">
                                            <div class="form-inline">
                                              <input id="dp1" class="form-control col-6" placeholder="yyyy-mm-dd" name="dp1" value="selectToday()" (change)="determineAge()" [(ngModel)]="model1" ngbDatepicker #d1="ngbDatepicker">
                                                <div class="input-group-append">
                                                  <button class="btn btn-outline-secondary" (click)="d1.toggle()" type="button">
                                                    <fa name="calendar" style="width: 1.2rem; height: 1rem; cursor: pointer;"></fa>
                                                  </button>
                                                </div>
                                                <input class="form-control col-4 ml-sm-2" type="number" placeholder="Age" #age>
                                            </div>
                                          </div>
                                    </div>
                                    <hr>
                                <div class="form-group row">
                                        <label class="col-2 col-form-label"><strong>Email</strong></label>
                                        <div class="col-10">
                                            <input class="form-control" type="email" placeholder="example@gmail.com" >
                                        </div>
                                </div>
                                <hr>
                                <div class="form-group row">
                                        <label class="col-2 col-form-label"><strong>Personal Physician</strong></label>
                                        <div class="col-10">
                                            <input class="form-control" type="text" placeholder="Dr. Jane Doe" >
                                        </div>
                                </div>
                                <hr>
                                <div class="form-group row">
                                        <label class="col-2 col-form-label"><strong>Treatment Area</strong></label>
                                        <div class="col-10">
                                            <input class="form-control" type="text" placeholder="Lower-Back" >
                                        </div>
                                </div>
                                <hr>
                                <div class="form-group row">
                                        <label class="col-2 col-form-label"><strong>Referral Source</strong></label>
                                        <div class="col-10">
                                            <input class="form-control" type="text" placeholder="Advertisments, Friends and Family, etc." >
                                        </div>
                                </div>
                                <hr>
                                <div class="form-group row">
                                        <label class="col-2 col-form-label"><strong>Emergency Contact</strong></label>
                                        <div class="col-10">
                                            <div class="form-inline">
                                                <input class="form-control col-6" type="text" placeholder="Contact Name" >
                                                <input class="form-control col-5 ml-sm-2" type="tel" placeholder="Phone Number" >
                                            </div>
                                        </div>
                                </div>
                                <hr>
                                <div class="form-group row">
                                        <label class="col-2 col-form-label"><strong>Signature</strong></label>
                                        <div class="col-10">
                                            <div class="form-inline">
                                                <input class="form-control col-6" type="text" placeholder="TYPE IN CAPS" >
                                                <input id="dp2" class="form-control col-4 ml-sm-2" placeholder="yyyy-mm-dd" name="dp2" (navigate)="selectToday()" [(ngModel)]="model" ngbDatepicker #d2="ngbDatepicker">
                                                <div class="input-group-append">
                                                  <button class="btn btn-outline-secondary" type="button">
                                                    <fa name="calendar" style="width: 1.2rem; height: 1rem; cursor: pointer;"></fa>
                                                  </button>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                <hr>
                                <div class="form-group row">
                                        <label class="col-2 col-form-label"><strong>Parent or Guardian</strong></label>
                                        <div class="col-10">
                                            <div class="form-inline">
                                                <input class="form-control ml-sm-2" type="checkbox" #check1>
                                                <label class="form-control-label ml-sm-2">Enable Guardian Signature</label>
                                                <input class="form-control col-7 ml-sm-2" type="text" placeholder="TYPE NAME IN CAPS" [disabled]="check1.checked != true" >
                                            </div>
                                        </div>
                                    </div>              
                    </mat-step>
                    <mat-step label="Motor Vehicle Accident (Optional)">
                        <div class="form-group row">
                            <label class="col-2 col-form-label"><strong>Insurance Name</strong></label>
                                <div class="col-10">
                                    <div class="form-inline">
                                        <input class="form-control col-6" type="text" placeholder="Blue Cross">
                                        <input class="form-control col-5 ml-sm-2" type="text" placeholder="Address" >
                                    </div>
                                </div>
                        </div>    
                        <hr>
                        <div class="form-group row">
                                <label class="col-2 col-form-label"><strong>Policy or Claim #</strong></label>
                                    <div class="col-10">
                                        <div class="form-inline">
                                            <input class="form-control col-6" type="text" placeholder="1234567">
                                            <input id="dp3" class="form-control col-4 ml-sm-2" placeholder="Date of Accident" name="dp3" [(ngModel)]="model" ngbDatepicker #d3="ngbDatepicker">
                                            <div class="input-group-append">
                                              <button class="btn btn-outline-secondary" (click)="d3.toggle()" type="button">
                                                <fa name="calendar" style="width: 1.2rem; height: 1rem; cursor: pointer;"></fa>
                                              </button>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        <hr>
                        <div class="form-group row">
                            <label class="col-2 col-form-label"><strong>Plan Member Name</strong></label>
                            <div class="col-10">
                                    <div class="form-inline">
                                        <input class="form-control col-6" type="text" placeholder="John Doe">
                                        <input class="form-control col-5 ml-sm-2" type="text" placeholder="Claim Number" >
                                    </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group row">
                            <label class="col-2 col-form-label"><strong>Adjuster Name</strong></label>
                                <div class="col-10">
                                    <div class="form-inline">
                                        <input class="form-control col-6" type="text" placeholder="Jane Doe">
                                        <input class="form-control col-5 ml-sm-2" type="tel" placeholder="Phone Number" >
                                    </div>
                                </div>
                        </div>
                        <hr>
                        <div class="form-group row">
                            <label class="col-4 col-form-label"><strong>Are You the Policy Holder?</strong></label>
                                <div class="col-8">
                                    <div class="form-inline">
                                        <input class="form-control" type="checkbox" value="checked" #check2>
                                        <label class="form-control-label ml-sm-4">If No, Name of Policy Holder:</label>
                                        <input class="form-control col-4 ml-sm-1" type="text" placeholder="John Doe" [disabled]="check2.checked == true" >
                                    </div>
                                </div>
                        </div>
                        </mat-step>
                        <mat-step label="Extended Care (Optional)">
                            <b>Please Note:</b> Private Insurers must be billed first prior to your MVA Insurance
                            <hr>
                                <div class="form-group row">
                                        <label class="col-3 col-form-label"><strong>Plan Member Name</strong></label>
                                            <div>
                                                <div class="form-inline">
                                                    <input class="form-control col-6" type="text" placeholder="John Doe">
                                                    <input id="dp4" class="form-control col-4 ml-sm-2" placeholder="Date of Birth" name="dp4" [(ngModel)]="model2" ngbDatepicker #d4="ngbDatepicker">
                                                    <div class="input-group-append">
                                                      <button class="btn btn-outline-secondary" (click)="d4.toggle()" type="button">
                                                        <fa name="calendar" style="width: 1.2rem; height: 1rem; cursor: pointer;"></fa>
                                                      </button>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                <hr>
                                <div class="form-group row">
                                        <label class="col-3 col-form-label"><strong>Insurance Company Name</strong></label>
                                        <div class="form-inline">
                                            <input class="form-control" type="text" placeholder="Sun Life Financial" >
                                        </div>
                                </div>
                                <hr>
                                <div class="form-group row">
                                        <label class="col-3 col-form-label"><strong>Group Policy #</strong></label>
                                        <div class="form-inline">
                                            <input class="form-control" type="text" placeholder="0000000" >
                                        </div>
                                </div>
                                <hr>
                                <div class="form-group row">
                                        <label class="col-3 col-form-label"><strong>Member ID Certificate #</strong></label>
                                        <div class="form-inline">
                                            <input class="form-control" type="text" placeholder="1111111" >
                                        </div>
                                </div>
                        </mat-step>
                        <mat-step label="Terms and Conditions">
                            <p>
                                <b>CONSENT TO PARTICIPATE:</b> I voluntarily authorize and give consent to Kingsville Physiotherapy Clinic to provide its services to me. This includes, but is not limited to, evaluation, exercises prescription and other corrective procedures. I acknowledge that no guarantees have been, or can be made to me, as to the result of the services provided at Kingsville Physiotherapy Clinic.
                            </p>
                            <p>
                                <b>ACKNOWLEDGEMENT OF INFORMED CONSENT:</b> I understand that I will be informed of the potential risks and benefits of all services provided by Kingsville Physiotherapy Clinic. I understand that I have the right to consent or refuse consent to any procedure or service offered by Kingsville Physiotherapy Clinic.
                            </p>
                            <p>
                                <b>AUTHORIZATION TO RELEASE INFORMATION:</b> I authorize the release of any information contained in my Kingsville Physiotherapy record for the following purposes:
                            </p>
                            <ol>
                                <li>
                                    at my request, to assist in processing my insurance claims
                                </li>
                                <li>
                                    to provide information to my health professional referral source (personal physician)
                                </li>
                            </ol>
                            <hr>
                            <div class="form-group row">
                                <div>
                                    <div class="form-inline">
                                        <label class="form-control-label ml-sm-2">I have read, and understand the above content</label>
                                        <input class="form-control ml-sm-4" type="checkbox" #check3>
                                    </div>
                                </div>
                            </div>   
                        </mat-step>
                    </mat-vertical-stepper>
            </div>
        </div>
        <ng-template #makeChanges let-c="close" let-d="dismiss">
                <div class="modal-header">
                  <h4 class="modal-title">Error in Required Fields</h4>
                </div>
                <div class="modal-body">
                  <p>There are errors in some of the required fields. Please go through and fix them. </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary btn-med" (click)="c('Close click')">OK</button>        
                </div>
            </ng-template>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-primary" [disabled]="check3.checked != true" (click)="sendInitialInfoSheet(makeChanges)" (click)="c('Close click')">Book Initial Consultation</button>
            <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Cancel</button>
        </div>
        </ng-template>


