#container {
    width: 40%;
    margin: 0 auto;
    position: relative;
}

#buttons{
    margin-left: 25px;
    position: relative;
    left: 0;
    top: 50%;
    width: 100%;
}

#scrollable{
    overflow-y: visible;
    overflow-x: hidden;
}

.durationDropdown {
    height: 44px;
    padding: 3px;
    padding-left: 0px;
    border: solid 1px #E4E4E4;
    border-radius: 3px;
    background-color: #fff;
    width: 200px;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    background-image: none;
    background-clip: padding-box;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    margin-left: 2.5rem;
    margin-top: 2px;
}
