<h1>Book Appointment Works!!</h1>
<p>
  book-appointment works!
</p>


<div class=''>
    <div class='header'>
        KINGSVILLE PHYSIOTHERAPY CLINIC
        CONFIDENTIAL CLIENT INFORMATION SHEET
    </div>
    <div class='content'>
        <input type='text' placeholder='First Name'>
        <input type='text' placeholder='Last Name'>
        <input type='text' placeholder='Date'>
        <input type='text' placeholder='Address'>
        <input type='text' placeholder='Town'>
        <input type='text' placeholder='Postal Code'>
        <input type='text' placeholder='Age'>
        <input type='text' placeholder='Date of Birth'>
        <input type='text' placeholder='Home Phone'>
        <input type='text' placeholder='Cell Phone'>
        <input type='text' placeholder='Email'>
        <input type='text' placeholder='Personal Physician'>
        <input type='text' placeholder='Area of treatment'>
        <input type='text' placeholder='Referral Source'>
        EMERGENCY CONTACT
        <input type='text' placeholder='Name'>
        <input type='text' placeholder='Phone'>
    </div>
    <div class='content'>
        TREATMENT RATES:
        Initial Assessment with treatment: 100.00
        Treatment Rate: 75.00
        <p>
            <span>Payment (cash, check or debit) is required at the time of visit.</span> Two exceptions to this policy: motor vehicle accidents and Green Shield clients.
            <span>Payment accepted: cash, cheque or debit</span>
            <span>Is this a motor vehicle accident?</span>
            <input type="radio" value='Yes'>
            <input type="radio" value='No'>
            <span>Green Shield: </span>Please provide the following information.
            Please be aware of your coverage limits.
            <input type='text' placeholder='Plan Member Name'>
            <input type='text' placeholder='Claim Number'>
        </p>
    </div>
    <div>
        <ol>
            <li>CONSENT TO PARTICIPATE: I voluntarily authorize and give consent to Kingsville Physiotherapy Clinic to provide its services to me. This includes, but is not limited to, evaluation, exercises prescription and other corrective procedures. I acknowledge that no guarantees have been, or can be made to me, as to the result of the services provided at Kingsville Physiotherapy Clinic.</li>
            <li>ACKNOWLEDGEMENT OF INFORMED CONSENT: I understand that I will be informed of the potential risks and benefits of all services provided by Kingsville Physiotherapy Clinic. I understand that I have the right to consent or refuse consent to any procedure or service offered by Kingsville Physiotherapy Clinic.</li>
            <li>AUTHORIZATION TO RELEASE INFORMATION: I authorize the release of any information contained in my Kingsville Physiotherapy record for the following purposes:</li>
            <ol>
                <li>at my request, to assist in processing my insurance claims</li>
                <li>to provide information to my health professional referral source (personal physician).</li>
            </ol>
        </ol>
        <input type='text' placeholder='Signature'>
        <input type='text' placeholder='Date'>
        <input type='text' placeholder='Parent/Guardian'>
        <h1>CANCELLED APPOINTMENTS</h1>
        <p>
            Kingsville Physiotherapy realizes that emergencies arise and missed appointments do occur. Please allow 24 hours for cancelled appointments.
            
            
            *****Please try to arrive on time for appointments******
        </p>
    </div>
    <div>
        <h1>MOTOR VEHICLE ACCIDENT</h1>
        <input type='text' placeholder='Insurance Name'>
        <input type='text' placeholder='Address'>
        <input type='text' placeholder='Adjuster Name'>
        <input type='text' placeholder='Telephone'>
        <input type='text' placeholder='Policy/Claim #'>
        <input type='text' placeholder='Date of Accident'>
        
        <input type="radio" value='Yes'>
        <input type="radio" value='No'>
        If no, name of policy holder
        <input type='text' placeholder='Name'>
        
        <h1><span>EXTENDED CARE ( Private Insurers must be billed first prior to your MVA insurance.</span></h1>
        
        <input type='text' placeholder='Insurance Company Name'>
        <input type='text' placeholder='Plan Member Name'>
        <input type='date' placeholder='Date of Birth'>
        <input type='text' placeholder='Group Policy #'>
        <input type='text' placeholder='Member ID Cert. #'>
    </div>
</div>
