<br>
<div class="col-lg-6 col-md-6 col-sm-6 container card">
    <br><br>
    <h1 class="title" style="color: #0275d8;">Select From The Options Below...</h1>
    <mat-divider></mat-divider>
    <br>
    <div class="card-body">
        <div id="image">
            <img class="col-lg-8 col-md-8 col-sm-8" src="../assets/images/marcotte-schedule.jpg">
        </div>
        <br>
        <mat-divider></mat-divider>
        <br>
        <div class="buttons">
            <button type="button" class="btn btn-primary col-lg-4 col-md-4 col-sm-4" (click)="open(bookModal, '0.01')">Appointment</button>
            <button type="button" class="btn btn-primary col-lg-4 col-md-4 col-sm-4" (click)="open(initialModal, '0.02')">Initial Consultation</button>
        </div>
    </div>
</div>

<div mdbModal #bookModal="mdb-modal" class="modal fade" id="book" tabindex="-1" role="dialog" aria-labelledby="bookModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style="overflow-y: visible;">
                <div class="modal-header">
                    <h5 class="modal-title" id="bookModalLabel"><b>Book Your Appointment...</b></h5>
                    <button type="button" class="close" (click)="bookModal.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="overflow-x: hidden;">
                    <div class="row">
                        <label class="form-inline col-2"><strong>Client Name</strong></label>
                        <div class="col">
                            <input class="form-control" type="text" id="inputName" placeholder="Client Name" #name required>
                            <div *ngIf="invalidName">
                                Please Enter a Valid Name
                            </div>
                        </div>
                    </div>

<!--                </div>-->
<!--                <div class="form-group row" >-->
                    <!--<label class="col-2 col-form-label"><strong>Choose a Date</strong></label>-->
                    <!--<div class="col-10"></div>-->
                        <!--<div style="overflow: auto; overflow-x:scroll;"></div>-->
<!--                    <div class="col-sm-12"><app-appointments></app-appointments></div>-->
<!--                </div>-->
<!--                <div class="form-group row">-->
<!--                    <label class="col-2 col-form-label" #reason><strong>Description</strong></label>-->
<!--                    <div class="col-10">-->
<!--                        <textarea class="form-control" placeholder="Enter a short description outlining your injury/hindrance or whether this is a follow up..." rows="3"></textarea>-->
                    <div class="row" >
                        <!--<label class="col-2 col-form-label"><strong>Choose a Date</strong></label>-->
                        <!--<div class="col-10"></div>-->
                            <!--<div style="overflow: auto; overflow-x:scroll;"></div>-->
                        <div class="col-sm-12" style="transform: scale(0.85);"><app-appointments></app-appointments></div>
                    </div>
                    <div class="row">
                        <label class="form-inline col-2"><strong>Description</strong></label>
                        <div class="col">
                            <textarea class="form-control md-textarea" placeholder="Enter a short description outlining your injury/hindrance or whether this is a follow up..." rows="3"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <label class="form-inline col-2"><strong>Upload Images</strong></label>
                        <div class="col">
                            <label class="btn btn-block btn-blue-grey" id="inputMedia">
                                Click Here to Select File(s) for Upload&hellip;
                                <input class="form-control" ng2FileSelect type="file" [uploader]="uploader" style="display: none;" accept=".jpg, .png"  multiple>
                            </label>
                            <td nowrap>
                                <div>
                                    <div class="col">
                                        <button type="button" class="btn btn-success"
                                        (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                                            <span class="glyphicon glyphicon-upload"></span> Upload all
                                        </button>
                                        <button type="button" class="btn btn-danger"
                                        (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                                            <span class="glyphicon glyphicon-trash"></span> Remove all
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <tr *ngFor="let item of uploader.queue">
                                <td><strong>{{ item?.file?.name }}</strong></td>
                            </tr>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="float-left">
                        To Proceed, Click the PayPal button..
                    </div>
                    <div id="paypal-button-container"></div>
                    <button type="button" class="btn btn-secondary" (click)="bookModal.hide()">Close</button>
                </div>
            </div>
        </div>
</div>

<div mdbModal #initialModal="mdb-modal" class="modal fade" id="book" tabindex="-1" role="dialog" aria-labelledby="initialModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" style="overflow-y: visible;">
                <div class="modal-header">
                    <h5 class="modal-title" id="bookModalLabel"><b>Book Your Initial Consultation...</b></h5>
                    <button type="button" class="close" (click)="initialModal.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="overflow-x: hidden;">
                    <!-- <div class="row">
                        <label class="form-inline col-2"><strong>Client Name</strong></label>
                        <div class="col">
                            <input class="form-control" type="text" id="inputName" placeholder="Client Name" #name required>
                            <div *ngIf="invalidName">
                                Please Enter a Valid Name
                            </div>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-sm-12" style="transform: scale(0.85);"><app-appointments></app-appointments></div>
                    </div>
                    <div class="row">
                        <label class="form-inline col-2"><strong>Description</strong></label>
                        <div class="col">
                            <textarea class="form-control md-textarea" placeholder="Enter a short description outlining your injury/hindrance or whether this is a follow up..." rows="3"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <label class="form-inline col-2"><strong>Upload Images</strong></label>
                        <div class="col">
                            <label class="btn btn-block btn-blue-grey" id="inputMedia">
                                Click Here to Select File(s) for Upload&hellip;
                                <input class="form-control" ng2FileSelect type="file" [uploader]="uploader" style="display: none;" accept=".jpg, .png"  multiple>
                            </label>
                            <td nowrap>
                                <div>
                                    <div class="col">
                                        <button type="button" class="btn btn-success"
                                        (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                                            <span class="glyphicon glyphicon-upload"></span> Upload all
                                        </button>
                                        <button type="button" class="btn btn-danger"
                                        (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                                            <span class="glyphicon glyphicon-trash"></span> Remove all
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <tr *ngFor="let item of uploader.queue">
                                <td><strong>{{ item?.file?.name }}</strong></td>
                            </tr>
                        </div>
                    </div> -->
                </div>
                <div class="modal-footer">
                    <div class="float-left">
                        To Proceed, Click the PayPal button..
                    </div>
                    <div id="paypal-button-container2"></div>
                    <button type="button" class="btn btn-secondary" (click)="initialModal.hide()">Close</button>
                </div>
            </div>
        </div>
    </div>


    


