<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened="true" style="background-color: #0275d8;">
        <mat-nav-list style="top: -10px;">
            <mat-list-item [routerLinkActive]="['active']">
              <button class="btn-primary btn-block" mat-raised-button style="color:white;">Dashboard</button>
            </mat-list-item>
          <br>
          <mat-divider class="dividers"></mat-divider>
          <mat-list-item [routerLinkActive]="['active']">
            <button class="btn-primary btn-block" mat-raised-button style="color:white;" [routerLink]="['../exercises']">Exercise Menu</button>
          </mat-list-item>
          <br>
          <mat-divider class="dividers"></mat-divider>
          <mat-list-item [routerLinkActive]="['active']">
            <button class="btn-primary btn-block" mat-raised-button style="color:white;">Book Appointment</button>
          </mat-list-item>
          <br>
          <mat-divider class="dividers"></mat-divider>
          <mat-list-item [routerLinkActive]="['active']" >
            <button class="btn-primary btn-block" mat-raised-button style="color:white;" [routerLink]="['../']">Complete Assessment</button>
          </mat-list-item>
          <br>
          <!-- <mat-divider class="dividers"></mat-divider>
          <mat-list-item [routerLinkActive]="['active']" >
            <button class="btn-primary btn-block" mat-raised-button style="color:white;">Upload Photos</button>
          </mat-list-item>
          <br> -->
          <mat-divider class="dividers"></mat-divider>
          <mat-list-item [routerLinkActive]="['active']" >
            <button class="btn-primary btn-block" mat-raised-button style="color:white;">Transactions</button>
          </mat-list-item>
          <br>
          <mat-divider class="dividers"></mat-divider>
          <mat-list-item [routerLinkActive]="['active']" >
            <button class="btn-primary btn-block" mat-raised-button style="color:white;">Settings</button>
          </mat-list-item>
          <br>
          <mat-divider class="dividers"></mat-divider>
          <mat-list-item [routerLinkActive]="['active']" >
            <button class="btn-primary btn-block" mat-raised-button style="color:white;">Resources</button>
          </mat-list-item>
          <br>
          <mat-divider class="dividers"></mat-divider>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="background-color: #F5F5F5;" class="jumbotron container-fluid">
          <br>
          <div style="margin-top: -10px;">
              <h3 *ngIf="client" class="title" style="color: #0275d8">
                  Good {{ timeOfDay }}<a *ngIf="client">, {{ client?.givenName }}.</a>
               </h3>
               <p class="quote">
                 Welcome to your dashboard, what would you like to do today?
               </p>
          </div>
        </div>

        <div class="page col-11">
          <mat-card style="min-height: 75vh;">
            <mat-card-content>
                <div class="row">
                  <mat-card class="col-6">
                    <div>
                        <div class="appointments">
                            <h4 style="color: #0275d8;"><b>Upcoming Appointments</b></h4>
                            <hr>
                            <div class="appoints">
                                <div *ngIf="appointments?.length < 1">
                                  <p><b>No Appointments Currently Scheduled</b></p>
                                </div>
                                <mat-list *ngIf="appointments?.length > 0">
                                    <mat-list-item class="listItems" *ngFor="let appointment of appointments">
                                        <button class="btn-block button">
                                          <div class="row">
                                            <div class="col-1">
                                                <i class="fas fa-calendar-alt" style="color: #0275d8;"></i>
                                            </div>
                                            <div class="col-7">
                                                <h5> <b>{{ appointment?.date | date:'mediumDate' }}</b> </h5>
                                            </div>
                                          </div>
                                          <div class="divider">
                                            <mat-divider></mat-divider>
                                          </div>
                                        </button>
                                      </mat-list-item>
                                </mat-list>
                                <ng-template #resetModal let-c="close" let-d="dismiss">
                                    <div class="modal-header">
                                      Reset Password Email Sent
                                    </div>
                                    <div class="modal-body">
                                      An email has been successfully sent to {{user.userAccountName}} so that they are able to recover their account
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-primary btn-med" (click)="c('Close click')">OK</button>          
                                    </div>
                                </ng-template>
                            </div>
                          </div>
                    </div>
                    <br>
                    <mat-divider></mat-divider>
                    <br>
                    <div>
                      <mat-card-title style="color: #0275d8;">
                        <b>Details and Patient Summary:</b>
                      </mat-card-title>
                      <mat-list>
                        <mat-list-item>
                            <div class="btn-block">
                              <div class="row">
                                  <div class="col">
                                      <h6><b> Been a Member for: </b></h6>
                                    </div>
                                    <div class="col">
                                      <h4><b> 8 months </b></h4>
                                    </div>
                                  </div>
                                  <div class="divider">
                                    <mat-divider></mat-divider>
                                  </div>
                              </div>
                        </mat-list-item>
                        <mat-list-item>
                            <div class="btn-block">
                              <div class="row">
                                  <div class="col">
                                      <h6><b> Your Last Login: </b></h6>
                                    </div>
                                    <div class="col">
                                      <h4><b> Yesterday </b></h4>
                                    </div>
                                  </div>
                                  <div class="divider">
                                    <mat-divider></mat-divider>
                                  </div>
                              </div>
                        </mat-list-item>
                        <mat-list-item>
                            <div class="btn-block">
                              <div class="row">
                                  <div class="col">
                                      <h6><b> Your Movement Master is: </b></h6>
                                    </div>
                                    <div class="col">
                                        <h4> <b> Stephanie Marcotte </b></h4>
                                    </div>
                                  </div>
                                  <div class="divider">
                                    <mat-divider></mat-divider>
                                  </div>
                              </div>
                        </mat-list-item>
                        <mat-list-item>
                            <div class="btn-block">
                              <div class="row">
                                  <div class="col">
                                      <h6><b> These are just for: </b></h6>
                                    </div>
                                    <div class="col">
                                      <h4> <b> SHOW </b></h4>
                                    </div>
                                  </div>
                                  <div class="divider">
                                    <mat-divider></mat-divider>
                                  </div>
                              </div>
                        </mat-list-item>
                      </mat-list>
                    </div>
                  </mat-card>
                  <mat-card class="col-6">
                    <div>
                      <mat-card-title>
                        <b>Complete an Assesment Test</b>
                      </mat-card-title>
                    </div>
                    <br>
                    <mat-divider></mat-divider>
                    <div>
                      Menu 
                    </div>
                    <br>
                    <mat-divider></mat-divider>
                    <div>
                      Progress
                    </div>
                  </mat-card>    
                </div>
            </mat-card-content>
          </mat-card>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
