<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<div class="jumbotron container-fluid">
 <h3 class="title" style="color: #0275d8">
  Good {{ timeOfDay }}, Sam.
 </h3>
  <p class="quote">
    Fix the system, fix the pain. That starts here, select an exercise...
  </p>
</div>

<div class="page">
  <div class="row">
    <div class="col-lg-6">
      <mat-card>
        <mat-card-content>
          <mat-list>
            <mat-list-item class="listItems" *ngFor="let exercise of exercises" (click)="getExerciseInfo(exercise)" (click)="getExerciseImages(exercise._id)">
              <button class="btn-block button">
                <div class="row">
                  <div class="col-sm-1">
                      <mat-icon style="color: #0275d8" svgIcon="dumbbell"></mat-icon> &nbsp;
                  </div>
                  <div class="col-sm-7">
                      <h5> <b>{{ exercise.name }}</b> </h5>
                  </div>
                </div>
                <div class="divider">
                  <mat-divider></mat-divider>
                </div>
              </button>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-lg-6">
      <div>
          <mat-card>
              <mat-card-title>
                <div class="row">
                  <div class="col-sm-10" style="color: #0275d8">
                    <b> {{ currExercise?.name }} </b>
                  </div>
                  <div class="ml-sm-5 print">
                    <i class="fa fa-print" (click)="openPrint(currExercise)"></i>
                  </div>
                </div>
              </mat-card-title>
              <mat-card-subtitle>
                <div class="col-sm-10">
                  <b>Target Date:</b> &nbsp;{{ currExercise?.targetDate | date:'mediumDate'}}
                </div>
              </mat-card-subtitle>
              <div class="divider2">
                  <mat-divider></mat-divider>
              </div>
              <br>
              <mat-card-content>
                <div class="row">
                  <div class="col-sm-2">
                    <b>Description: </b>
                  </div>
                  <div class="col-sm-10 descrip">
                    {{ currExercise?.description }}
                    </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-sm-2">
                    <b>Objectives: </b>
                  </div>
                  <div class="col-sm-10 descrip">
                    {{ currExercise?.objectives }}
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-sm-2">
                    <b>Repetitions: </b>
                  </div>
                  <div class="col-sm-4">
                    {{ currExercise?.duration }}
                  </div>
                  <div class="col-sm-2">
                    <b>Sets: </b>
                  </div>
                  <div class="col-sm-4">
                    {{ currExercise?.frequency }}
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-sm-2">
                    <b>Location: </b>
                  </div>
                  <div class="col-sm-4">
                      {{ currExercise?.location }}
                    </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-sm-2">
                    <b>Action Steps:</b>
                  </div>
                  <div class ="col-sm-10">
                    <ol *ngFor="let step of currSteps; index as i" class="col-sm">
                      <b>{{ i + 1 }}. </b> &nbsp; {{ currSteps[i] }}
                    </ol>
                  </div>
                </div>
                <div>
                  <br>
                  <mat-divider></mat-divider>
                  <br>
                </div>
                <div #carousel>
                    <ngb-carousel *ngIf="images?.length > 0">
                        <ng-template ngbSlide *ngFor="let image of images">
                          <img mat-card-image src="data:image/png;base64,{{image.data}}">
                        </ng-template>
                      </ngb-carousel>
                </div>
              </mat-card-content>
            </mat-card>
      </div>
    </div>
  </div>
</div>

<div style="display:none" #test>
  <h1>Self Start: &nbsp; {{ currExercise?.name }} </h1>
  <br>
  <div>
    <b>Description: </b> &nbsp; {{ currExercise?.description }}
  </div>
  <br>
  <div>
    <b>Objectives: </b> &nbsp; {{ currExercise?.objectives }}
  </div>
  <div>
    <p>
      <b>Repetitions: </b> &nbsp; {{ currExercise?.duration }} &nbsp; &nbsp;
      <b>Sets: </b> &nbsp; {{ currExercise?.frequency }} &nbsp; &nbsp;
      <b>Location: </b> &nbsp; {{ currExercise?.location }} &nbsp; &nbsp;
    </p>
  </div>
  <b>Action Steps: </b> &nbsp;
  <div>
      <ol *ngFor="let step of currSteps; index as i">
        <li> {{ currSteps[i] }} </li>
      </ol>
  </div>
</div>

<div style="display:none;" #test2>
  <b>Images:</b>
  <div *ngFor="let image of images">
    <img src="data:image/png;base64,{{image.data}}">
    <br>
  </div>
</div>


