<div style="min-height: 100vh;" class="page col-11">
          
            <mat-card-content>
                <div class="row">
                  <mat-card class="col-6">
                    <div>
                    <mat-card-title style="color: #0275d8;">
                      Beginning:
                    </mat-card-title>
                    <mat-card-content>
                      <mat-card-subtitle>
                        <div>
                          <p><b>Please choose a start date</b></p>
                        </div>
                      </mat-card-subtitle>
                      
                      
                    
                    <hr>
                    <pre>Selected time: </pre>
                        
                    </mat-card-content>
                    </div>
                    <br>
                  </mat-card>
                    
                  <mat-card class="col-6">
                    <div>
                    <mat-card-title style="color: #0275d8;">
                      End:
                    </mat-card-title>
                    <mat-card-content>
                      <mat-card-subtitle>
                        <div>
                          <p><b>Please chose an end date</b></p>
                        </div>
                        
                            
                            <hr>
                            <pre>Selected time: </pre>
                      </mat-card-subtitle>
                    
                    </mat-card-content>
                    </div>
                    <br>
                  </mat-card>
                    
                </div>
            </mat-card-content>
            <br><br>
        </div>
