<div class='container'>
    <h1 class='display-4 title'>How it Works</h1>
</div>


<div class="container">
  <div class="row">
    <div class="col-4">
        <div>
            <img class="rounded mx-auto d-block" src="./assets/images/n1.png" alt="Generic placeholder image">
        </div>
        <div class='content'>
            <p>Choose a payment package</p>
        </div>
    </div>
    <div class="col-4">
        <div>
            <img class="rounded mx-auto d-block" src="./assets/images/n2.png" alt="Generic placeholder image">
        </div>
        <div class='content'>
            <p>Create user name and login</p>
        </div>
    </div>
    <div class="col-4">
        <div>
            <img class="rounded mx-auto d-block" src="./assets/images/n3.png" alt="Generic placeholder image">
        </div>
        <div class='content'>
            <p>After a successful login: submit an initial assessment form, upload a posture photo, submit an outcome measure form</p>
        </div>
    </div>
  <div class="col-4">
        <div>
            <img class="rounded mx-auto d-block" src="./assets/images/n4.png" alt="Generic placeholder image">
        </div>
        <div class='content'>
            <p>Book an appointment by emailing your preferences (or book online)</p>
        </div>
    </div>
    <div class="col-4">
        <div>
            <img class="rounded mx-auto d-block" src="./assets/images/n5.png" alt="Generic placeholder image">
        </div>
        <div class='content'>
            <p>You will receive an email confirming you appointment & instructions for our video conference together</p>
        </div>
    </div>
    <div class="col-4">
        <div>
            <img class="rounded mx-auto d-block" src="./assets/images/n6.png" alt="Generic placeholder image">
        </div>
        <div class='content'>
            <p>After your assessment, you will have your movement sequence placed in your account so you can review daily.</p>
        </div>
    </div>
  </div>
</div>