<br><br>

  <div class="col" style = "left:10px">
    <div ngbDropdown class="d-inline-block">
      <button style= left:10px; class="btn btn-outline-primary"  id="dropdownBasic1" ngbDropdownToggle>What would you like to do?</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button class="dropdown-item" (click) = "goToExercises()">Edit Exercises</button>
        <button class="dropdown-item" (click) = "gotToPatients()">Edit Client Profiles</button>
        <button class="dropdown-item" (click) = "goToDynamicForm()">Edit Dynamic Forms</button>
        <button class="dropdown-item" (click) = "goToRehabPlans()">Edit Rehabilitation Plans</button>
        <!--<button class="dropdown-item">Edit Dynamic Forms</button>-->
        
      </div>
    </div>
  </div>

  <br><br>
<div class = 'jumbotron' style = "left:10px">
   
        <h1>Welcome Administrator</h1>
        <br><br>
        <h2>What do you want to do today?</h2>
        <br>
   
</div>


