.resetPass {
    background: #f5f5f5;
    padding: 1%;
    border-radius: 5%;
}

.names {
    clear: both;
}

.lefts {
    float: left;
}

.rights {
    float: right;
}

.check {
    color: green;
    cursor: pointer;
}

li {
    margin-bottom: 5px;
}

.dividers{
    margin-top: -20px;
}
