<div class='container'>
    <h1 class='display-4 title'>Services</h1>
</div>

<div class='container'>
    <div class='row justify-content-center'>
        <div class='col-3' style='background-color: #e5f8ff;'>
            <h5 class='display-12'>Assessment Package</h5>
            <p class='content'>
                <br><br>Initial consult via email & video conference<br><br>
                Personal online account Therapy Plan - accessed on your account<br><br>
                Education, Advice<br><br><br>
                Price:     $150<br><br>
            </p>
            <div class='learn-more'>
                <button type="button" class="btn btn-outline-primary waves-effect" [routerLink]="['../signup']">Learn More</button>
            </div>
        </div>
        <div class='col-3' style='background-color: #fffde5;'>
            <h5 class='display-12'>Assessment + 3 Sessions</h5>
            <p class='content'>
                Initial consult via email & video conference<br><br>
                3 further online sessions via email &/ video conference<br><br>
                Personal online account Therapy Plan - accessed on your account<br><br>
                Education, Advice<br><br>
                Price:     $350<br><br>
            </p>
            <div class='learn-more'>
                <button type="button" class="btn btn-outline-primary waves-effect" [routerLink]="['../signup']">Learn More</button>
            </div>
        </div>
        <div class='col-3' style='background-color: #ebffe5;'>
            <h5 class='display-12'>Assessment + 6 Sessions</h5>
            <p class='content'>
                Initial consult via email & video conference<br><br>
                6 further online sessions via email &/ video conference<br><br>
                Personal online account Therapy Plan - accessed on your account<br><br>
                Education, Advice<br><br>
                Price:     $550<br><br>
            </p>
            <div class='learn-more'>
                <button type="button" class="btn btn-outline-primary waves-effect" [routerLink]="['../signup']">Learn More</button>
            </div>
        </div>
    </div>
</div>

<div class='container below'>
    <div class="card">
        <h5 class="card-header display-8 title">Single Follow up Appointments</h5>
        <div class="card-body">
            <h5 class="card-title">Pricing:</h5>
            <p class="card-text">Within 3 months of initial consultation <span>$75</span></p>
        </div>
    </div>
</div>
