<div class='container'>
    <h1 class='display-4 title'>Services</h1>
</div>

<div class='container'>
    <div class='row justify-content-center'>
        <div class='col-3'>
            <h5 class='display-12'>Assessment</h5>
            <p>
                <br><br><br><br><br><br><br><br><br><br><br><br>
            </p>
        </div>
        <div class='col-3'>
            <h5 class='display-12'>One Month</h5>
            <p>
                <br><br><br><br><br><br><br><br><br><br><br><br>
            </p>
        </div>
        <div class='col-3'>
            <h5 class='display-12'>Three Months</h5>
            <p>
                <br><br><br><br><br><br><br><br><br><br><br><br>
            </p>
        </div>
    </div>
</div>

<div class='container below'>
    <div class="card">
        <h5 class="card-header display-8 title">Follow up Appointments</h5>
        <div class="card-body content">
            <h5 class="card-title">My Appointments:</h5>
            <p class="card-text">This is where you'll find a list of your appointments</p>
        </div>
    </div>
</div>
